.border-bottom {
    width: fit-content;
    border-bottom: 2px solid rgb(250, 0, 0);
}

.border-bottom {
    border-bottom: 2px solid rgb(250, 0, 0);
    font-style: italic;
}

.photo-frame {
    border: 2px solid;
    margin: 10px;
    border: 2px solid rgb(250, 0, 0);
    padding: 10px;
    float: right;
}


.table-style {
    width: 100%;
    border-collapse: collapse;
}

.table-style th,
.table-style td {
    border: 3px solid rgb(171, 10, 10);
    padding: 5px;
}

ul {
    list-style-type: square;
}

.skills-heading {
    display: block;
    border-bottom: 2px solid rgb(250, 0, 0);
    width: 100vw;
    box-sizing: border-box;
    text-align: right;
    position: fixed;
    left: 0;
    z-index: 9999;
}


ul {
    list-style-type: square;
    float: right;
   
}
